$main: #f3f3f3;
$light: #ffffff;
$dark: #a3b1c6;

$wr1: #e2041b;
$wr2: #ec6800;
$wr3: #f7c114;
$wr4: #69b076;
$wr5: #007bbb;
$wr6: #674196;

body{
    background-color: $main;
    letter-spacing: 1px;
    font-size: 0.7rem;
    overflow: hidden;
    position: relative;
}

.cf{
    &:after{
        content: "";
        clear: both;
        display: block;
    }
}

.animate{
    transition: all 300ms 0s ease;
}

.inBattle{
    display: block !important;
}

// Parts
.none{
    display: none;
}

.radius{
    border-radius: 10px;
}

.radiusCir{
    border-radius: 50%;
}

.bold{
    font-weight: bold !important;
}

.under{
    text-decoration: underline !important;
}

.mildBlack{
    color: #3d3d3d !important;
}

.mildGray{
    color: #999999 !important;
}

.textRight{
    text-align: right !important;
}

.no-spacing{
    letter-spacing: 0px !important;
}

.shadowUp{
    box-shadow: 3px 3px 5px $dark, -4px -4px 8px $light,
}

.shadowDown{
    box-shadow: inset 3px 3px 4px $dark, inset -4px -4px 8px $light;
}

// Classes
.class1{
    color: $wr1;
}
.class2{
    color: $wr2;
}
.class3{
    color: $wr3;
}
.class4{
    color: $wr4;
}
.class5{
    color: $wr5;
}
.class6{
    color: $wr6;
}

// Components
div#test{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 14px 0 0 0;

    div.table_wrapper{
        // display: inline-block;
        padding: 5px 10px 0px;
        margin: 20px auto 0px;
        // width: 1040px;
        &:first-child{
            margin: 0 auto 20px;
        }

        table{
            line-height: 1.4rem;
            border-collapse: collapse;
            margin: 0 auto;
            table-layout: fixed;
            width: 100%;
            min-width: 50%;
            // border-spacing: 10px 0;
            thead{
                tr{
                    border-bottom: 1px $dark solid;
                    th{
                        padding: 0 8px;
                        font-weight: normal;
                        text-align: left;
                        vertical-align: middle;
                        line-height: 1rem !important;
                    }
                }
            }
            tbody{
                // box-shadow:
                // 5px 5px 5px transparent,
                // -5px -5px 5px transparent,
                // inset 5px 5px 5px $dark,
                // inset -5px -5px 5px $light;
                padding: 8px;
                margin: 10px;
                tr{
                    border-top: 1px $dark dotted;
                    padding: 0 10px;
                    background-color: $main;
                    &:first-child{
                        border: none;
                        td{
                            // padding-top: 10px !important;
                            padding-top: 2px !important;
                        }
                    }
                    &:last-child{
                        td{
                            padding-bottom: 2px !important;
                        }
                    }
                    &:nth-child(2n-1){
                        background-color: #fafafa;
                    }
                    td{
                        padding: 2px 8px;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
            .t_115{
                width: 115px;
            }
            .t_20{
                width: 20px;
            }
            .t_60{
                width: 60px;
            }
            .t_nor{
                width: 50px;
            }
            .partition{
                border-left: 1px $dark dotted;
            }
        }
    }
    .middleBar{
        width: calc( 100% - 30px );
        height: 35px;
        background-color: $dark;
        color: $light;
        line-height: 35px;
        text-align: center;
        margin: 0 auto;
    }
    div.settings{
        position: absolute;
        top: 15px;
        right: 15px;
        width: 40px;
        line-height: 40px;
        height: 40px;
        padding-top: 3px;
        text-align: center;
        transition: all 300ms 0s ease;
        background-color: $main;
        cursor: pointer;
        i.fa-cog{
            font-size: 1.2rem;
        }
        &:hover{
            box-shadow: none !important;
        }
    }

    div#settingScreen{
        background: $main;
        width: 400px;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 9999;
        height: 100%;
        div.settingBox{
            width: 350px;
            margin: 15px auto 0;
            padding: 10px;
            h1{
                font-weight: normal;
                font-size: 1.0rem;
            }
            h2{
                font-weight: bold;
                font-size: 0.7rem;
            }
            ul{
                li{
                    width: 84%;
                    margin: 0 auto 14px;
                    div.columnDetail{
                        float: left;
                        height: 26px;
                        line-height: 26px;
                        span{
                            &:before{
                                content: "　-";
                            }
                        }
                    }
                    div.buttonBase{
                        float: right;
                        cursor: pointer;
                        width: 56px;
                        height: 26px;
                        border-radius: 15px;
                        padding: 4px 5px;
                        position: relative;
                        background-color: $main;
                        div.buttonToggle{
                            height: 18px;
                            width: 18px;
                            position: absolute;
                            z-index: 20;
                            background-color: #f3f3f3;
                            right: 33px;
                            top: 4px;
                        }
                        .addedButton{
                            right: 5px !important;
                        }
                    }
                    .addedBase{
                        background-color: #a0d8ef !important;
                    }
                }
            }         
        }
    }
    div#modalScreen{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: #000;
        opacity: 0.05;
    }
}

