@charset "UTF-8";
body {
  background-color: #f3f3f3;
  letter-spacing: 1px;
  font-size: 0.7rem;
  overflow: hidden;
  position: relative;
}

.cf:after {
  content: "";
  clear: both;
  display: block;
}

.animate {
  transition: all 300ms 0s ease;
}

.inBattle {
  display: block !important;
}

.none {
  display: none;
}

.radius {
  border-radius: 10px;
}

.radiusCir {
  border-radius: 50%;
}

.bold {
  font-weight: bold !important;
}

.under {
  text-decoration: underline !important;
}

.mildBlack {
  color: #3d3d3d !important;
}

.mildGray {
  color: #999999 !important;
}

.textRight {
  text-align: right !important;
}

.no-spacing {
  letter-spacing: 0px !important;
}

.shadowUp {
  box-shadow: 3px 3px 5px #a3b1c6, -4px -4px 8px #ffffff;
}

.shadowDown {
  box-shadow: inset 3px 3px 4px #a3b1c6, inset -4px -4px 8px #ffffff;
}

.class1 {
  color: #e2041b;
}

.class2 {
  color: #ec6800;
}

.class3 {
  color: #f7c114;
}

.class4 {
  color: #69b076;
}

.class5 {
  color: #007bbb;
}

.class6 {
  color: #674196;
}

div#test {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 14px 0 0 0;
}
div#test div.table_wrapper {
  padding: 5px 10px 0px;
  margin: 20px auto 0px;
}
div#test div.table_wrapper:first-child {
  margin: 0 auto 20px;
}
div#test div.table_wrapper table {
  line-height: 1.4rem;
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  width: 100%;
  min-width: 50%;
}
div#test div.table_wrapper table thead tr {
  border-bottom: 1px #a3b1c6 solid;
}
div#test div.table_wrapper table thead tr th {
  padding: 0 8px;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  line-height: 1rem !important;
}
div#test div.table_wrapper table tbody {
  padding: 8px;
  margin: 10px;
}
div#test div.table_wrapper table tbody tr {
  border-top: 1px #a3b1c6 dotted;
  padding: 0 10px;
  background-color: #f3f3f3;
}
div#test div.table_wrapper table tbody tr:first-child {
  border: none;
}
div#test div.table_wrapper table tbody tr:first-child td {
  padding-top: 2px !important;
}
div#test div.table_wrapper table tbody tr:last-child td {
  padding-bottom: 2px !important;
}
div#test div.table_wrapper table tbody tr:nth-child(2n-1) {
  background-color: #fafafa;
}
div#test div.table_wrapper table tbody tr td {
  padding: 2px 8px;
  overflow: hidden;
  white-space: nowrap;
}
div#test div.table_wrapper table .t_115 {
  width: 115px;
}
div#test div.table_wrapper table .t_20 {
  width: 20px;
}
div#test div.table_wrapper table .t_60 {
  width: 60px;
}
div#test div.table_wrapper table .t_nor {
  width: 50px;
}
div#test div.table_wrapper table .partition {
  border-left: 1px #a3b1c6 dotted;
}
div#test .middleBar {
  width: calc( 100% - 30px );
  height: 35px;
  background-color: #a3b1c6;
  color: #ffffff;
  line-height: 35px;
  text-align: center;
  margin: 0 auto;
}
div#test div.settings {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  line-height: 40px;
  height: 40px;
  padding-top: 3px;
  text-align: center;
  transition: all 300ms 0s ease;
  background-color: #f3f3f3;
  cursor: pointer;
}
div#test div.settings i.fa-cog {
  font-size: 1.2rem;
}
div#test div.settings:hover {
  box-shadow: none !important;
}
div#test div#settingScreen {
  background: #f3f3f3;
  width: 400px;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 9999;
  height: 100%;
}
div#test div#settingScreen div.settingBox {
  width: 350px;
  margin: 15px auto 0;
  padding: 10px;
}
div#test div#settingScreen div.settingBox h1 {
  font-weight: normal;
  font-size: 1.0rem;
}
div#test div#settingScreen div.settingBox h2 {
  font-weight: bold;
  font-size: 0.7rem;
}
div#test div#settingScreen div.settingBox ul li {
  width: 84%;
  margin: 0 auto 14px;
}
div#test div#settingScreen div.settingBox ul li div.columnDetail {
  float: left;
  height: 26px;
  line-height: 26px;
}
div#test div#settingScreen div.settingBox ul li div.columnDetail span:before {
  content: "　-";
}
div#test div#settingScreen div.settingBox ul li div.buttonBase {
  float: right;
  cursor: pointer;
  width: 56px;
  height: 26px;
  border-radius: 15px;
  padding: 4px 5px;
  position: relative;
  background-color: #f3f3f3;
}
div#test div#settingScreen div.settingBox ul li div.buttonBase div.buttonToggle {
  height: 18px;
  width: 18px;
  position: absolute;
  z-index: 20;
  background-color: #f3f3f3;
  right: 33px;
  top: 4px;
}
div#test div#settingScreen div.settingBox ul li div.buttonBase .addedButton {
  right: 5px !important;
}
div#test div#settingScreen div.settingBox ul li .addedBase {
  background-color: #a0d8ef !important;
}
div#test div#modalScreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #000;
  opacity: 0.05;
}

/*# sourceMappingURL=style.css.map */
