<!doctype html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>"wows xvm"</title>

    <!-- <link rel="shortcut icon" href="img/favicon.ico"> -->
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://kit.fontawesome.com/a36d4011d5.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>

    <div id="test" v-bind:class="{ inBattle: inBattle, dark: darkTheme }" class="animateSlow">
        {{ controller }}
        {{ decideTableWidth() }}

        <div class="table_wrapper radius shadowUp" :style="{width: tableWidth + 'px'}" :class='{"shadowClear" : darkTheme}'>
            <table id="allies" class="radius">
                <caption>Allies xvm</caption>
                <thead>
                    <tr>
                        <th scope="col" class="t_50">Clan</th>
                        <th scope="col" class="t_110 bold mildBlack">Player <i class="fas fa-user mildGray"></i></th>
                        <th scope="col" class="t_20">T</th>
                        <th scope="col" class="t_nor"></th>
                        <th scope="col" class="t_20"></th>
                        <th scope="col" class="t_110 bold mildBlack">Ship <i class="fas fa-ship mildGray"></i></th>

                        <th v-if="settings[0]" scope="col" class="t_nor partition">Ship<br />WR</th>
                        <th v-if="settings[1]" scope="col" class="t_nor textRight">sBattles</th>
                        <th v-if="settings[2]" scope="col" class="t_nor textRight">sDmg</th>
                        <th v-if="settings[3]" scope="col" class="t_nor">sKill</th>
                        <th v-if="settings[4]" scope="col" class="t_nor">s生存</th>
                        <th v-if="settings[5]" scope="col" class="t_nor">sK/D</th>
                        <th v-if="settings[6]" scope="col" class="t_nor">sGun</th>
                        <th v-if="settings[7]" scope="col" class="t_nor">sTorp</th>
                        <th v-if="settings[8]" scope="col" class="t_nor">s撃墜</th>
                        
                        <th scope="col" class="t_nor partition bold mildBlack">WR<i class="fas fa-trophy mildGray"></i></th>
                        <th v-if="settings[9]" scope="col" class="t_nor textRight">Battles</th>
                        <th v-if="settings[10]" scope="col" class="t_nor textRight">Dmg</th>
                        <th v-if="settings[11]" scope="col" class="t_nor">Kill</th>
                        <th v-if="settings[12]" scope="col" class="t_nor">K/D</th>
                        <th v-if="settings[13]" scope="col" class="t_nor partition bold">Solo<br />WR</i></th>
                        <th v-if="settings[14]" scope="col" class="t_nor">Solo<br />Ratio</th>
                        <th v-if="settings[15]" scope="col" class="t_nor">3div<br />WR</th>
                    </tr>
                </thead>
                <tbody class="radius">

                    <tr v-for="stats in allies">
                        
                        <td>{{ stats[0].clantag }}</td>
                        <td>{{ stats[0].name }}</td>
                        <td>{{ stats[1].tier }}</td>
                        <td class="no-spacing">{{ stats[1].nation }}</td>
                        <td>{{ getClassKanji(stats[1].type) }}</td>
                        <td class="bold mildBlack t_name">{{ stats[1].name }}</td>

                        <td v-if="settings[0]" :class="getColorWR(stats[1].wr)" class="bold">{{ stats[1].wr }}</td>
                        <td v-if="settings[1]" class="textRight">{{ stats[1].battles }}</td>
                        <td v-if="settings[2]" class="textRight">{{ stats[1].avgdmg }}</td>
                        <td v-if="settings[3]" >{{ stats[1].avgkill }}</td>
                        <td v-if="settings[4]" :class="checkBot(stats[1].survive, stats[1].battles)">{{ stats[1].survive }}</td>
                        <td v-if="settings[5]" >{{ stats[1].killdeath }}</td>
                        <td v-if="settings[6]" :class="checkShirogane(stats[1].gunaim, stats[1].type)">{{ stats[1].gunaim }}</td>
                        <td v-if="settings[7]" >{{ stats[1].torpaim }}</td>
                        <td v-if="settings[8]" >{{ stats[1].avgdown }}</td>

                        <td :class="getColorWR(stats[0].totalwr)" class="bold">{{ tellHidden(stats[0].totalwr, stats[0].hidden) }}</td>
                        <td v-if="settings[9]" :class="compareRekisi(stats[0].battles)"  class="textRight">{{ stats[0].battles }}</td>
                        <td v-if="settings[10]"  class="textRight">{{ stats[0].avgdmg }}</td>
                        <td v-if="settings[11]" >{{ stats[0].avgkill }}</td>
                        <td v-if="settings[12]" >{{ stats[0].killdeath }}</td>
                        <td v-if="settings[13]" :class="getColorWR(stats[0].solowr)" class="bold">{{ stats[0].solowr }}</td>
                        <td v-if="settings[14]" :class="inSoloRatio(stats[0].soloratio)">{{ stats[0].soloratio }}</td>
                        <td v-if="settings[15]" :class="getColorWR(stats[0].div3wr)" class="bold">{{ stats[0].div3wr }}</td>

                    </tr>

                </tbody>
            </table> 
        </div>

        <div class="middleBar radius">
            {{ showBattleStatus() }}
        </div>

        <div class="table_wrapper radius shadowUp" :style="{width: tableWidth + 'px'}" :class='{"shadowClear" : darkTheme}'>
            <table id="enemies" class="radius">
                <caption>Enemies xvm</caption>
                <thead>
                    <th scope="col" class="t_50">Clan</th>
                    <th scope="col" class="t_110 bold mildBlack">Player <i class="fas fa-user mildGray"></i></th>
                    <th scope="col" class="t_20">T</th>
                    <th scope="col" class="t_nor"></th>
                    <th scope="col" class="t_20"></th>
                    <th scope="col" class="t_110 bold mildBlack">Ship <i class="fas fa-ship mildGray"></i></th>

                    <th v-if="settings[0]" scope="col" class="t_nor partition">Ship<br />WR</th>
                    <th v-if="settings[1]" scope="col" class="t_nor textRight">sBattles</th>
                    <th v-if="settings[2]" scope="col" class="t_nor textRight">sDmg</th>
                    <th v-if="settings[3]" scope="col" class="t_nor">sKill</th>
                    <th v-if="settings[4]" scope="col" class="t_nor">s生存</th>
                    <th v-if="settings[5]" scope="col" class="t_nor">sK/D</th>
                    <th v-if="settings[6]" scope="col" class="t_nor">sGun</th>
                    <th v-if="settings[7]" scope="col" class="t_nor">sTorp</th>
                    <th v-if="settings[8]" scope="col" class="t_nor">s撃墜</th>
                    
                    <th scope="col" class="t_nor partition bold mildBlack">WR<i class="fas fa-trophy mildGray"></i></th>
                    <th v-if="settings[9]" scope="col" class="t_nor textRight">Battles</th>
                    <th v-if="settings[10]" scope="col" class="t_nor textRight">Dmg</th>
                    <th v-if="settings[11]" scope="col" class="t_nor">Kill</th>
                    <th v-if="settings[12]" scope="col" class="t_nor">K/D</th>
                    <th v-if="settings[13]" scope="col" class="t_nor partition bold">Solo<br />WR</i></th>
                    <th v-if="settings[14]" scope="col" class="t_nor">Solo<br />Ratio</th>
                    <th v-if="settings[15]" scope="col" class="t_nor">3div<br />WR</th>
                </thead>
                <tbody class="radius">

                    <tr v-for="stats in enemies">
                                                
                        <td>{{ stats[0].clantag }}</td>
                        <td>{{ stats[0].name }}</td>
                        <td>{{ stats[1].tier }}</td>
                        <td class="no-spacing">{{ stats[1].nation }}</td>
                        <td>{{ getClassKanji(stats[1].type) }}</td>
                        <td class="bold mildBlack t_name">{{ stats[1].name }}</td>

                        <td v-if="settings[0]" :class="getColorWR(stats[1].wr)" class="bold">{{ stats[1].wr }}</td>
                        <td v-if="settings[1]" class="textRight">{{ stats[1].battles }}</td>
                        <td v-if="settings[2]" class="textRight">{{ stats[1].avgdmg }}</td>
                        <td v-if="settings[3]" >{{ stats[1].avgkill }}</td>
                        <td v-if="settings[4]" :class="checkBot(stats[1].survive, stats[1].battles)">{{ stats[1].survive }}</td>
                        <td v-if="settings[5]" >{{ stats[1].killdeath }}</td>
                        <td v-if="settings[6]" :class="checkShirogane(stats[1].gunaim, stats[1].type)">{{ stats[1].gunaim }}</td>
                        <td v-if="settings[7]" >{{ stats[1].torpaim }}</td>
                        <td v-if="settings[8]" >{{ stats[1].avgdown }}</td>

                        <td :class="getColorWR(stats[0].totalwr)" class="bold">{{ tellHidden(stats[0].totalwr, stats[0].hidden) }}</td>
                        <td v-if="settings[9]" :class="compareRekisi(stats[0].battles)"  class="textRight">{{ stats[0].battles }}</td>
                        <td v-if="settings[10]"  class="textRight">{{ stats[0].avgdmg }}</td>
                        <td v-if="settings[11]" >{{ stats[0].avgkill }}</td>
                        <td v-if="settings[12]" >{{ stats[0].killdeath }}</td>
                        <td v-if="settings[13]" :class="getColorWR(stats[0].solowr)" class="bold">{{ stats[0].solowr }}</td>
                        <td v-if="settings[14]" :class="inSoloRatio(stats[0].soloratio)">{{ stats[0].soloratio }}</td>
                        <td v-if="settings[15]" :class="getColorWR(stats[0].div3wr)" class="bold">{{ stats[0].div3wr }}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="settings shadowUp radius" :class='{"shadowClear" : darkTheme}'>
            <i class="fas fa-cog mildGray"></i>
        </div>

        <div id="settingScreen" class="cf">
            <div class="settingBox left shadowUp radius" :class='{"shadowClear" : darkTheme}'>
                <!-- <h1>Settings</h1> -->
                    <h2>項目</h2>

                        <ul>
                            <li class="cf">
                                <div class="columnDetail">
                                    shipWR
                                    <span>
                                        単艦勝率(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(0)" :class="{'addedBase' : settings[0], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[0], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    shipBattles
                                    <span>
                                        単艦の戦闘数
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(1)" :class="{'addedBase' : settings[1], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[1], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    shipDmg
                                    <span>
                                        艦の平均与ダメージ
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(2)" :class="{'addedBase' : settings[2], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[2], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    shipKill
                                    <span>
                                        艦の平均キル
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(3)" :class="{'addedBase' : settings[3], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[3], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    ship生存
                                    <span>
                                        艦の生存率(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(4)" :class="{'addedBase' : settings[4], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[4], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    shipK/D
                                    <span>
                                        艦のK/D比
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(5)" :class="{'addedBase' : settings[5], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[5], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    shipGun
                                    <span>
                                        艦の主砲命中率(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(6)" :class="{'addedBase' : settings[6], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[6], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    shipTorp
                                    <span>
                                        艦の魚雷命中率(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(7)" :class="{'addedBase' : settings[7], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[7], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    ship撃墜
                                    <span>
                                        艦の平均撃墜数
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(8)" :class="{'addedBase' : settings[8], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[8], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    Battles
                                    <span>
                                        総合戦闘数
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(9)" :class="{'addedBase' : settings[9], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[9], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    Dmg
                                    <span>
                                        アカウント平均与ダメージ
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(10)" :class="{'addedBase' : settings[10], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[10], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    Kill
                                    <span>
                                        アカウント平均キル
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(11)" :class="{'addedBase' : settings[11], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[11], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    K/D
                                    <span>
                                        アカウントK/D比
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(12)" :class="{'addedBase' : settings[12], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[12], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    soloWR
                                    <span>
                                        ソロ戦闘の勝率(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(13)" :class="{'addedBase' : settings[13], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[13], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    soloRatio
                                    <span>
                                        ソロ戦闘の割合(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(14)" :class="{'addedBase' : settings[14], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[14], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>

                            <li class="cf">
                                <div class="columnDetail">
                                    3divWR
                                    <span>
                                        3人分隊での勝率(%)
                                    </span>
                                </div>

                                <div class="buttonBase shadowDownMild animate" v-on:click="settingButton(15)" :class="{'addedBase' : settings[15], 'shadowClear' : darkTheme}">
                                    <div class="buttonToggle radiusCir shadowUpMild animate" :class='{"addedButton" : settings[15], "shadowClear" : darkTheme}'></div>
                                </div>
                            </li>
                        </ul>
            </div>

            <div class="changeTheme left shadowUp radius cf" :class='{"shadowClear" : darkTheme}'>
                <h2>テーマ</h2>
                <div class="themeBox radius left animate" v-on:click="changeThemeToLight()" :class='{"selectedTheme" : !darkTheme, "shadowClear" : darkTheme}'>
                    LIGHT
                </div>
                <div class="themeBox radius left animate" v-on:click="changeThemeToDark()" :class='{"selectedTheme" : darkTheme, "shadowClear" : darkTheme}'>
                    DARK
                </div>
            </div>
        </div>

        <div id="modalScreen" v-on:click="saveSettings">

        </div>

    </div><!--test-->



    <script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
